/* main-banner */
.main_banner {
  position: relative;
  margin-bottom: 10px;
  background-color: var(--banner-color);
}

.main_banner::before {
  display: block;
  content: "";
  width: 35%;
  height: calc(100% - 1px);
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  position: absolute;
}

.main_banner-row {
  padding-top: 60px;
}

.main-banner-col {
  z-index: 3;
}

.main-banner_content {
  margin-left: 8.88888%;
  margin-right: 8.88888%;
}

.main-banner_content h4 {
  font-size: 30px;
  font-family: var(--roboto);
  color: var(--text-color2);
  margin-bottom: 12px;
  font-weight: 100;
}

.main-banner_content h1 {
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--text-color);
  font-family: var(--roboto);
  text-transform: uppercase;
}

.main-banner_content p {
  margin-bottom: 40px;
  font-family: var(--roboto);
}
