/* main sale */
.main_sale {
    display: block;
    background-position:20px 30px;
    background: url("../img/backgroup_lg.webp") no-repeat;
    background-size: 100% 100%;
    height: 500px;
  }
  
  .main_sale .main_sale-content {
    padding: 122px 0 135px 0;
  }
  
  .main_sale .main_sale-content h3 {
    font-size: 50px;
    margin-bottom: 25px;
  }
  
  .main_sale .main_sale-content h4 {
    font-size: 30px;
    margin-bottom: 8px;
    color: var(--text-color);
  }
  
  .main_sale .main_sale-content p {
    color:var(--text-color2)
  }
  
  .main_sale .main_sale-content .button--active:hover {
    background-color: transparent;
    color: var(--text-color);
  }
  
  /* Best Sellers */
  .main_sellers {
    margin: 120px 0 70px 0;
  }
  
  .select_intro {
    padding-bottom: 60px;
  }
  
  .select_intro p {
    margin-bottom: 3px;
  }
  
  .select_intro h2 {
    font-size: 36px;
    font-weight: 600;
  }
  
  /* main blog */
  .main_blog .card-blog .card-img {
    width: 100%;
  }
  
  .main_blog .card-blog {
    width: 100% !important;
    border: none !important;
  }
  
  .main_blog .card-blog .card-body {
    padding-left: 0;
  }
  
  .card-blog .blog_intro {
    margin-bottom: 12px;
    padding-left: 0;
  }
  
  .card-blog .blog_intro li {
    display: inline-block;
  }
  
  .card-blog .blog_intro li:first-child {
    margin-right: 20px;
  }
  
  .card-blog .blog_intro li a {
    font-size: 14px;
    color: var(--text-color3);
  }
  
  .card-body .card_blog-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .card-body .card_blog-link {
    font-weight: 700;
    color: var(--text-color);
  }
  
  .card-body .card_blog-link i {
    font-size: 13px;
    padding-left: 3px;
    transition: all 0.5s ease;
  }
  
  .card-blog:hover .card_blog-link i {
    padding-left: 9px;
    color: var(--primary-color);
  }
  
  .card-blog:hover .card_blog-link {
    color: var(--primary-color);
  }
  
  .card-blog:hover .card_blog-title {
    color: var(--primary-color);
  }
  
  