/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* import header css file */
@import url(./main_header.css);

/* import category css file */
@import url(./category.css);

/* product detail */
.Product_detail-area {
  padding-top: 100px;
}

.product-content {
  margin-left: -15px;
  margin-top: 65px;
}

.product-content h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 20px;
}

.product-content h2 {
  font-family: var(--roboto);
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.product-content .list li {
  margin-bottom: 5px;
}

.product-content .list li a {
  font-size: 15px;
  font-weight: normal;
  color: var(--text-des);
}

.product-content .list li a span {
  color: var(--text-color2);
}

.product-content .list li a:hover {
  color: unset;
}

.product-content p {
  padding-top: 20px;
  border-top: 1px solid var(--border-product);
  margin-top: 20px;
  padding-bottom: 26px;
  margin-bottom: 0;
}

.product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}

.product_count label {
  font-size: 14px;
  color: var(--text-color4);
  font-weight: normal;
  padding-right: 10px;
}

.product_count input {
  width: 76px;
  border: 1px solid var(--border-product);
  padding-left: 10px;
}

.product_count button {
  display: block;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  right: -40px;
  font-size: 18px;
  color: #cccccc;
  transition: all 0.3s ease 0s;
}


.product_count button:hover {
  color: var(--text-color);
}

.product_count .increase {
  top: -4px;
}

.product_count .decrease {
  bottom: -8px;
}

.card-area {
  margin-top: 25px;
}

.card-area .icon-btn {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #e8f0f2;
  border-radius: 3px;
  display: inline-block;
  color: var(--text-color);
  transition: all 0.3s ease 0s;
  z-index: 1;
  margin-right: 10px;
  padding-top: 10px;
}

.card-area .icon-btn:hover {
  background-color: var(--white-color);
  box-shadow: var(--shadow-subcribe);
}

/* Product Description */
.Product_descript-area {
  padding-bottom: 100px;
  margin-top: 60px;
}
.Product_descript-area .nav_tabs {
  background-color: var(--background-banner);
  justify-content: center;
  padding: 10px 0;
}

.nav_tabs li {
  display: inline-block;
  margin-right: 7px;
}

.nav_tabs li a {
  line-height: 38px;
  background-color: var(--white-color);
  border: 1px solid var(--border-product);
  border-radius: 30px;
  padding: 0 30px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: normal;
}

.nav_tabs li a:hover {
  color: var(--text-color);
}

.nav_tabs li a.active {
  color: var(--white-color);
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.tab_content {
  border-left: 1px solid var(--border-select);
  border-right: 1px solid var(--border-select);
  border-bottom: 1px solid var(--border-select);
  padding: 30px 30px 15px 30px;
}

.tab_content .tab-pane {
  display: none;
}

.tab_content .tab-pane.active {
  display: block;
}

.table-responsive td {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.table-responsive td h5 {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color4);
  margin-bottom: 0;
  white-space: nowrap;
}

.comment_list .review_item {
  margin-bottom: 10px;
}

.media {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.media .d-flex {
  padding-right: 15px;
}

.media .info-body {
  vertical-align: middle;
  align-self: center;
}

.media h4 {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 4px;
}

.media h5 {
  font-size: 13px;
  font-weight: normal;
  color: var(--text-des);
}

.media .reply_btn {
  position: absolute;
  right: 0;
  top: 14px;
}

.review_item p {
  padding-top: 10px;
  margin-bottom: 0;
}

.review_item.reply {
  padding-left: 25px;
}

.review_box h4 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.review_box form {
  margin-top: 15px;
}

.review_box .form-group {
  margin-bottom: 1rem;
}

/* review */
.total-rate .box-title {
  background-color: var(--background-banner);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-title h5 {
  color: var(--text-color5);
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

.box-title h4 {
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-color);
}

.box-title h6 {
  font-family: var(--roboto);
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-color6);
  font-weight: normal;
}

.total-rate .rating-list {
  margin-bottom: 30px;
}

.rating-list h3 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.bi-star-fill,
.bi-star {
  color: var(--star-color);
}

.rating-list li a i:first-child {
  margin-left: 15px;
}

.rating-list li a i:last-child {
  margin-right: 15px;
}

.review-list .review_item {
  margin-bottom: 10px;
}

.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.review_box p {
  margin-bottom: 0;
  color: var(--text-color6);
  display: inline-block;
}

.review_box .list li {
  display: inline-block;
}


/* default */
.top_product {
  margin-bottom: 80px;
}

.footer_area {
  padding: 80px 0px 60px;
}
