/* mobile & tablet */
@media (max-width: 992px) {
  /* Header */
  :root {
    --header-height: 70px;
  }
  .header_area {
    flex-wrap: wrap;
  }

  .nav-shop {
    display: none !important;
  }

  .header_nav_toggle {
    display: block;
  }

  .header_area .navbar-nav {
    display: none;
    flex-basis: 100%;
    margin-left: 0;
    flex-direction: column;
    overflow-y: scroll;
  }

  .header_area .navbar-nav li {
    margin-right: 0 !important;
    height: calc(var(--header-height) - 20px) !important;
    line-height: calc(var(--header-height) - 20px) !important;
  }

  .navbar-logo {
    margin: 25px 0;
  }

  .nav-item .nav_item-ul {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  /* header */
  :root {
    --header-height: 70px;
  }

  /* Main */
  .main_banner::before {
    width: 20%;
  }

  /*main sale */
  .main_sale {
    background-size: cover !important;
  }

  .main-banner_content h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

}

/* mobile */
@media (max-width: 767px) {
  /* header */
  :root {
    --header-height:60px;
  }

  /* Main banner */
  .main-banner_content{
    padding-bottom: 40px;
  }

  .main-banner_content h1{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .main-banner_content p{
    margin-bottom: 10px;
  }
  
  .main-banner_content .button-banner{
    padding:8px 25px;
  }

  .main_banner-img {
    display: none !important;
  }
  .main_banner::before {
    width: 5%;
  }
  .main_banner .container {
    margin-left: 0 !important;
  }

  /* Main sale */
  .main_sale {
    height: unset;
    background-size: 1000% 100% !important;
  }

  .main_sale-content {
    padding: 20px 0 20px 0 !important;
  }

  .main_sale .main_sale-content h3{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .main_sale .main_sale-content .button {
    padding:8px 25px !important;
  }

  .main_sale .main_sale-content{
    padding-top: 100px 0 110px 0!important;
  }

  
  /* Main sub */

  .subcribe-form {
    justify-content: center;
  }
  .subcribe-form .form-input {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 6px;
  }

  .subcribe-form .form-input .form-ip_email {
    min-width: 300px;
  }

  .subcribe_signup  .button-subcribe {
    padding:8px 25px;
    margin-left:auto;
    margin-right: auto;
  }

  .subcribe_are {
    padding:45px 10px;
  }
  .subcribe_are h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  /* Main footer */

  .footer_area {
    padding: 150px 0 16px 0 !important;
  }

  .footer_title.large_title{
    font-size: 18px;
  }
}

/* lg */
@media (max-width: 1199px) {
  /* Header */
  .header_area .navbar-nav .nav-item {
    margin-right: 30px;
  }

  .main-banner_content {
    margin-right: 0 !important;
  }
}
