/* Buttons */

button {
  outline: none;
  background: none;
  border: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Oswald);
  color: var(--text-color);
}

.mt-10 {
  margin-top: -15px !important;
}

.mr-auto {
  margin-right: auto !important;
}
/* button */
.button {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  color: var(--white-color);
  font-weight: 600;
  padding: 12px 50px;
  background-color: var(--primary-color);
  transition: all 0.4s ease;
}

.button-banner {
  padding: 12px 41px;
}

.button-banner:hover {
  color: var(--text-color);
  background-color: transparent;
}

.button-login {
  font-size: 15px;
  padding: 7px 44px;
}

.button-coupon {
  font-size: 15px;
  padding: 6px 45px;
}

.button-pay {
  width: 100%;
  padding: 8px 30px;
}

.navbar_fixed {
  position: fixed !important;
  background: var(--white-color) !important;
  width: 100% !important;
  z-index: 999;
}

.reply_btn {
  border: 1px solid var(--rely-btn);
  padding: 0 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  color: var(--text-color);
}

.reply_btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
