/* CSS reset */

* {
  box-sizing: inherit;
}

html body {
  color: #777;
  font-family: var(--roboto);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */

:root {
  --primary-color: #384aeb;
  --primary-op-color: #8894ff;
  --text-color: #222;
  --text-color2: #555;
  --text-color3: #999;
  --text-color4: #777;
  --text-color5: #333333;
  --text-color6: #555555;
  --text-des: #777777;
  --text-footer: #7b838a;
  --color-footer: #002347;
  --input-color: #999999;
  --white-color: #fff;
  --border-color: #ededed;
  --order-color:#e8f0f2;
  --border-select: #eee;
  --border-product: #eeeeee;
  --border-order:#dddddd;
  --rdo-border:#C5322D;
  --rdo-background:#C5322D;
  --color-hover: #f6f6f6;
  --star-color: #fbd600;
  --rely-btn: #e0e0e0;
  --background-banner: #f1f6f7;
  --color-footer-bottom: rgba(0, 35, 71, 0.980392);
  --shadow-color: 0 10px 27px 3px rgb(221 221 221 / 30%);
  --shadow-subcribe: 0 -5px 20px 0 rgb(56 74 235 / 10%);
  --shadow-select: 0 0 0 1px rgb(68 68 68 / 11%);
  --backgroud-overlay: rgba(255, 255, 255, 0.8);
  --btn-shadow: rgb(148, 141, 141);
  --header-height: 90px;
  --banner-color: #f1f6f7;
  /* font family variables. */
  --roboto: "Roboto", sans-serif;
  --Oswald: "Oswald", sans-serif;
}
